openapi: 3.0.0
info:
  title: myTischtennis API
  description: |
    # Inoffizielle API-Dokumentation

    > ⚠️ **Hinweis:** Dies ist eine **inoffizielle** Dokumentation der API-Endpunkte von 
    > [myTischtennis.de](https://www.mytischtennis.de). Sie wurde durch Analyse 
    > der öffentlich im Browser (Network Tab) sichtbaren Requests erstellt.
    
    > 📂 **Repository:** [github.com/notMYcupofTeeTee/mytt-api](https://github.com/notMYcupofTeeTee/mytt-api)


    ## Warum diese Dokumentation?

    mytischtennis.de stellt **keine offizielle API-Dokumentation** bereit, 
    obwohl alle hier dokumentierten Endpunkte öffentlich zugänglich sind. Diese Intransparenz:

    - **Verhindert legitime Nutzung** durch Vereine (z.B. für eigene Vereins-Apps, Widgets)
    - **Schützt niemanden** – alle mit Browser-Entwicklertools können diese Endpunkte sehen
    - **Erschwert Innovation** in der Tischtennis-Community

    Diese Dokumentation soll zeigen, was technisch bereits öffentlich ist, und eine Diskussion 
    über Open Data im deutschen Tischtennissport anstoßen.

    ## Disclaimer

    - Diese Dokumentation steht in **keiner Verbindung** zum DTTB oder myTischtennis.de
    - Die Nutzung erfolgt auf **eigene Verantwortung**
    - Bitte respektiere die Nutzungsbedingungen von myTischtennis.de

    ---

    ## Technische Details

    ### Authentifizierung
    Einige Endpunkte erfordern eine Cookie-basierte Authentifizierung (`sb-10-auth-token`).
    Öffentliche Endpunkte sind mit `security: []` gekennzeichnet.
    
    ### Rate Limiting
    Die API verwendet Rate Limiting (90 Requests pro Stunde). 
    Bei Überschreitung wird HTTP 429 zurückgegeben.
  version: 1.0.0
  contact:
    name: GitHub Repository
    url: https://github.com/notMYcupofTeeTee/mytt-api
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://www.mytischtennis.de
    description: mytischtennis.de

# Redocly Tag-Gruppierung für bessere Navigation
x-tagGroups:
  - name: Suche & Spieler*innen
    tags:
      - Suche
      - Spieler*innen & TTR
  - name: Strukturen
    tags:
      - Mannschaften
      - Vereine
      - Ligen & Gruppen
  - name: Live-Daten
    tags:
      - Begegnungen

# Globale Sicherheitsdefinition
security:
  - cookieAuth: []

tags:
  - name: Suche
    description: |
      Globale Suche nach Spieler*innen und Vereinen.
      **Öffentlich zugänglich** (Rate-Limited auf 90 Requests/Stunde).
  - name: Spieler*innen & TTR
    description: |
      TTR-Werte, Statistiken, Head-to-Head und Ranglisten.
      Enthält sowohl öffentliche als auch authentifizierte Endpunkte.
  - name: Mannschaften
    description: |
      Mannschafts-bezogene Daten: Aufstellungen, Bilanzen, Spielpläne, Infos.
  - name: Vereine
    description: |
      Vereins-bezogene Daten: Teams, Bilanzen, Spielpläne, Stammdaten.
  - name: Ligen & Gruppen
    description: |
      Liga-Strukturen: Tabellen, Bilanzen, Ranglisten, Kontakte, Meldungen.
      Enthält auch die Liga-Hierarchie zum Navigieren durch Wettbewerbe.
  - name: Begegnungen
    description: |
      Live-Daten zu laufenden Begegnungen.
      Öffentlich zugänglich.

paths:
  # ================================================================
  # STATISTICS & RANKING
  # ================================================================
  /api/andro-ranking/regions:
    get:
      tags:
        - Spieler*innen & TTR
      operationId: getAndroRankingRegions
      summary: Andro Ranking Regionen abrufen
      description: |
        Lädt die verfügbaren Regionen für die Andro-Ranglisten-Filter.
        
        **Hierarchie:** Verband → Bezirk → Kreis (nicht alle Bezirke haben Kreise)
        
        **Verwendung:**
        1. Ohne Parameter: Alle Landesverbände abrufen
        2. Mit `as=<verband>&di=all`: Bezirke für einen Verband abrufen
        3. Mit `as=<verband>&di=<bezirk>`: Kreise für einen Bezirk abrufen (falls vorhanden)
      security: []
      parameters:
        - name: as
          in: query
          schema:
            type: string
            enum:
              - DE.SW.R5.01   # Baden
              - DE.SU.R1.02   # Bayern
              - DE.NO.R6.03   # Berlin
              - DE.NO.R6.04   # Brandenburg
              - DE.NO.R6.05   # Bremen
              - DE.NO.R6.06   # Hamburg
              - DE.WE.R4.07   # Hessen
              - DE.NO.R6.08   # Mecklenburg-Vorpommern
              - DE.NO.R2.09   # Niedersachsen
              - DE.WE.R3.19   # Nordrhein-Westfalen
              - DE.SW.R7.10   # Pfalz
              - DE.SW.R7.12   # Rheinland-Rheinhessen
              - DE.SW.R7.13   # Saarland
              - DE.SU.R8.14   # Sachsen
              - DE.SU.R8.15   # Sachsen-Anhalt
              - DE.NO.R6.16   # Schleswig-Holstein
              - DE.SW.R5.20   # TTBW
              - DE.SU.R8.18   # Thüringen
            example: "DE.WE.R3.19"
          description: |
            Landesverband-Code (optional). Wenn gesetzt, werden Bezirke für diesen Verband geladen.
            
            Verbände:
            * `DE.SW.R5.01` - Baden
            * `DE.SU.R1.02` - Bayern
            * `DE.NO.R6.03` - Berlin
            * `DE.NO.R6.04` - Brandenburg
            * `DE.NO.R6.05` - Bremen
            * `DE.NO.R6.06` - Hamburg
            * `DE.WE.R4.07` - Hessen
            * `DE.NO.R6.08` - Mecklenburg-Vorpommern
            * `DE.NO.R2.09` - Niedersachsen
            * `DE.WE.R3.19` - Nordrhein-Westfalen (WTTV)
            * `DE.SW.R7.10` - Pfalz
            * `DE.SW.R7.12` - Rheinland-Rheinhessen
            * `DE.SW.R7.13` - Saarland
            * `DE.SU.R8.14` - Sachsen
            * `DE.SU.R8.15` - Sachsen-Anhalt
            * `DE.NO.R6.16` - Schleswig-Holstein
            * `DE.SW.R5.20` - TTBW
            * `DE.SU.R8.18` - Thüringen
        - name: di
          in: query
          schema:
            type: string
            default: "all"
            example: "all"
          description: "Bezirk-Code (aus Response) oder `all` für alle Bezirke des Verbands."
      responses:
        '200':
          description: Liste der Landesverbände und Bezirke
          content:
            application/json:
              schema:
                type: object
                properties:
                  associations:
                    type: array
                    description: Alle deutschen Landesverbände
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          example: "Nordrhein-Westfalen"
                        pattern:
                          type: string
                          description: Verband-Code für `as` Parameter
                          example: "DE.WE.R3.19"
                  districts:
                    type: array
                    description: Bezirke des gewählten Verbands (leer wenn kein `as` gesetzt)
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          example: "Rhein-Wupper"
                        pattern:
                          type: string
                          description: Bezirk-Code für `di` Parameter
                          example: "DE.WE.R3.19.13"
                  areas:
                    type: array
                    description: |
                      Kreise innerhalb eines Bezirks (tiefste Ebene).
                      Nur gefüllt, wenn `di` auf einen spezifischen Bezirk gesetzt ist UND dieser Kreise hat.
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          example: "Kreis Ludwigslust-Parchim"
                        pattern:
                          type: string
                          description: Kreis-Code für `area` Parameter
                          example: "DE.NO.R6.08.01.01"
              example:
                associations:
                  - name: "Baden"
                    pattern: "DE.SW.R5.01"
                  - name: "Bayern"
                    pattern: "DE.SU.R1.02"
                  - name: "Mecklenburg-Vorpommern"
                    pattern: "DE.NO.R6.08"
                  - name: "Nordrhein-Westfalen"
                    pattern: "DE.WE.R3.19"
                districts:
                  - name: "Bezirk Nordost"
                    pattern: "DE.NO.R6.08.02"
                  - name: "Bezirk Südost"
                    pattern: "DE.NO.R6.08.03"
                  - name: "Bezirk West"
                    pattern: "DE.NO.R6.08.01"
                areas:
                  - name: "Kreis Ludwigslust-Parchim"
                    pattern: "DE.NO.R6.08.01.01"
                  - name: "Kreis Nordwestmecklenburg"
                    pattern: "DE.NO.R6.08.01.02"
                  - name: "Kreis Schwerin"
                    pattern: "DE.NO.R6.08.01.03"

  /api/statistics/{player_id}/matches/{date_range}:
    get:
      tags:
        - Spieler*innen & TTR
      operationId: getPlayerMatchStatistics
      summary: Match-Statistiken abrufen
      description: |
        Lädt detaillierte Match-Statistiken für einen bestimmten Zeitraum.
        
        Enthält Gewinn/Verlust-Statistiken, Heim/Auswärts-Aufschlüsselung und Match-Details.
        
        **Authentifizierung erforderlich.** Bei fehlender Auth wird HTTP 200 mit Fehler im Body zurückgegeben.
      security:
        - cookieAuth: []
      parameters:
        - $ref: '#/components/parameters/playerId'
        - $ref: '#/components/parameters/dateRange'
      responses:
        '200':
          description: |
            Detaillierte Match-Statistiken.
            
            **Achtung:** Bei fehlender Authentifizierung gibt der Server ebenfalls HTTP 200 zurück,
            aber mit `{"error": "Not authorized"}` im Body statt der eigentlichen Daten.
          content:
            application/json:
              schema:
                type: object
              examples:
                success:
                  summary: Erfolgreiche Abfrage (mit Auth)
                  value:
                    data:
                      matches:
                        total: 7
                        wins: 6
                        losses: 1
                        home: 3
                        home_wins: []
                        home_losses: []
                        guest: 4
                        guest_wins: []
                        guest_losses: []
                      is_premium: true
                unauthorized:
                  summary: Fehlende Authentifizierung (trotz HTTP 200!)
                  value:
                    error: "Not authorized"

  /api/head-to-head:
    post:
      tags:
        - Spieler*innen & TTR
      operationId: getHeadToHead
      summary: Head-to-Head Vergleich
      description: |
        Vergleicht die direkten Begegnungen zwischen der eingeloggten Person und einer anderen Person.
        
        **Authentifizierung erforderlich.** Der Server gibt HTTP 400 mit `"Not authorized"` bei fehlender Auth zurück.
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - other_user
              properties:
                other_user:
                  type: string
                  description: Spieler-ID des Gegners (internal_id ohne "NU"-Präfix)
                  example: "1462405"
      responses:
        '200':
          description: Head-to-Head Statistiken
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                    description: Liste der direkten Begegnungen
              example:
                data: []
        '400':
          description: Nicht authentifiziert (Server gibt 400 statt 401)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: "Not authorized"

  /api/statistics/{player_id}/ttr/{date_range}:
    get:
      tags:
        - Spieler*innen & TTR
      operationId: getPlayerTtrHistory
      summary: TTR-Historie abrufen
      description: |
        Lädt eine kompakte TTR-Übersicht (Start/End/Delta) für einen definierten Zeitraum.
        
        **Unterschied zu `/api/ttr/history/{nuid}`:** Dieser Endpunkt liefert nur Aggregatwerte,
        nicht die detaillierten Einzelevents.
        
        **Authentifizierung erforderlich.** Bei fehlender Auth wird HTTP 200 mit Fehler im Body zurückgegeben.
      security:
        - cookieAuth: []
      parameters:
        - $ref: '#/components/parameters/playerId'
        - $ref: '#/components/parameters/dateRange'
      responses:
        '200':
          description: |
            TTR-Verlauf im gewählten Zeitraum.
            
            **Achtung:** Bei fehlender Authentifizierung gibt der Server ebenfalls HTTP 200 zurück,
            aber mit `{"error": "Not authorized"}` im Body.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      start:
                        type: integer
                        description: Start-TTR-Wert
                      end:
                        type: integer
                        description: End-TTR-Wert
                      delta:
                        type: integer
                        description: Änderung des TTR-Werts (end - start)
              examples:
                success:
                  summary: Erfolgreiche Abfrage (mit Auth)
                  value:
                    data:
                      start: 2641
                      end: 2618
                      delta: -23
                unauthorized:
                  summary: Fehlende Authentifizierung (trotz HTTP 200!)
                  value:
                    error: "Not authorized"
  
  /api/league-table/{association}/{id}:
    get:
      tags:
        - Ligen & Gruppen
      operationId: getLeagueTable
      summary: Ligatabelle abrufen
      description: Gibt die aktuelle Tabelle mit Platzierungen und Vereins-IDs zurück.
      security: []
      parameters:
        - $ref: '#/components/parameters/association'
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: "499406"
      responses:
        '200':
          description: Erfolgreiche Abfrage der Tabelle
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        club_id:
                          type: string
                          description: Die eindeutige ID des Vereins
                        team_name:
                          type: string
                          description: Name der Mannschaft
                        table_rank:
                          type: integer
                          description: Aktueller Tabellenplatz
                  error:
                    type: string
                    nullable: true
                    description: Fehlermeldung, falls vorhanden (sonst null)
              example:
                data:
                  - club_id: "1001"
                    team_name: "TTC Musterstadt I"
                    table_rank: 1
                  - club_id: "2045"
                    team_name: "SV Beispielhausen II"
                    table_rank: 2
                  - club_id: "3099"
                    team_name: "FC Testverein III"
                    table_rank: 3
                  - club_id: "4150"
                    team_name: "DJK Anonymus IV"
                    table_rank: 4
                  - club_id: "5200"
                    team_name: "SpVgg Platzhalter V"
                    table_rank: 5
                  - club_id: "6010"
                    team_name: "TSV Unbekannt VI"
                    table_rank: 6
                  - club_id: "7080"
                    team_name: "SC Lorem Ipsum VII"
                    table_rank: 7
                  - club_id: "8030"
                    team_name: "SG Zufall VIII"
                    table_rank: 8
                  - club_id: "9040"
                    team_name: "TTF Demo IX"
                    table_rank: 9
                  - club_id: "9900"
                    team_name: "TuS Ende der Liste X"
                    table_rank: 10
                error: null

  # ================================================================
  # SEARCH
  # ================================================================
  /api/search/players:
    post:
      tags:
        - Suche
      operationId: searchPlayers
      summary: Spieler*innen suchen
      description: |
        Globale Suche nach Spieler*innen (nach Name).
        
        Gibt Spieler mit ihrer NUID, Vereinszugehörigkeit und TTR-Wert zurück.
        Mindestens 3 Zeichen erforderlich.
        
        **Öffentlich zugänglich**, aber Rate-Limited (90 Requests/Stunde).
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - query
              properties:
                query:
                  type: string
                  description: Suchbegriff
                  example: "Dang"
                page:
                  type: integer
                  description: Seitennummer für Pagination
                  default: 1
                pagesize:
                  type: integer
                  description: Anzahl Ergebnisse pro Seite
                  default: 4
      responses:
        '200':
          description: Gefundene Spieler*innen
          headers:
            RateLimit:
              description: Rate Limit Status
              schema:
                type: string
                example: "90-in-1hr; r=67; t=938"
            RateLimit-Policy:
              description: Rate Limit Policy
              schema:
                type: string
                example: "90-in-1hr; q=90; w=3600"
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        lastname:
                          type: string
                        firstname:
                          type: string
                        person_id:
                          type: integer
                        internal_id:
                          type: string
                        licence_club:
                          type: string
                        dttb_player_id:
                          type: string
                          nullable: true
                        club_name:
                          type: string
                  total_count:
                    type: integer
                  pages_count:
                    type: integer
                  page:
                    type: integer
                  pagesize:
                    type: integer
              example:
                results:
                  - lastname: "Qiu"
                    firstname: "Dang"
                    person_id: 344349
                    internal_id: "NU7535"
                    licence_club: "Borussia Düsseldorf (13118)"
                    dttb_player_id: null
                    club_name: "Borussia Düsseldorf"
                total_count: 9
                pages_count: 3
                page: 1
                pagesize: 4
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/RateLimited'

  /api/search/clubs:
    post:
      tags:
        - Suche
      operationId: searchClubs
      summary: Vereine suchen
      description: |
        Globale Vereinssuche nach Name.
        
        Gibt Vereine mit ihrer Vereinsnummer, Verband und weiteren Details zurück.
        Mindestens 3 Zeichen erforderlich.
        
        **Öffentlich zugänglich**, aber Rate-Limited (90 Requests/Stunde).
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - query
              properties:
                query:
                  type: string
                  description: Suchbegriff
                  example: "Borussia"
                page:
                  type: integer
                  description: Seitennummer für Pagination
                  default: 1
                pagesize:
                  type: integer
                  description: Anzahl Ergebnisse pro Seite
                  default: 4
      responses:
        '200':
          description: Gefundene Vereine
          headers:
            RateLimit:
              description: Rate Limit Status
              schema:
                type: string
                example: "90-in-1hr; r=87; t=2917"
            RateLimit-Policy:
              description: Rate Limit Policy
              schema:
                type: string
                example: "90-in-1hr; q=90; w=3600"
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        external_id:
                          type: string
                          format: uuid
                        clubname:
                          type: string
                        clubnr:
                          type: string
                        organization_id:
                          type: integer
                        organization_name:
                          type: string
                        organization_short:
                          type: string
                  total_count:
                    type: integer
                  pages_count:
                    type: integer
                  page:
                    type: integer
                  pagesize:
                    type: integer
              example:
                results:
                  - external_id: "d937e5f2-c8d6-4f2c-b674-b5b4f36a6952"
                    clubname: "Borussia Düsseldorf"
                    clubnr: "13118"
                    organization_id: 28
                    organization_name: "Westdeutscher Tischtennis-Verband e.V."
                    organization_short: "WTTV"
                total_count: 12
                pages_count: 3
                page: 1
                pagesize: 4
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/RateLimited'


  # ================================================================
  # TTR
  # ================================================================
  /api/ttr/history/{nuid}:
    get:
      tags:
        - Spieler*innen & TTR
      operationId: getTtrHistoryByNuid
      summary: TTR Historie via NUID
      security:
        - cookieAuth: []
      parameters:
        - name: nuid
          in: path
          required: true
          schema:
            type: string
          description: Nationale User ID
          example: "NU7535"
      responses:
        '200':
          description: |
            Vollständige TTR-Historie mit allen Ereignissen.
            
            **Achtung:** Bei fehlender Authentifizierung gibt der Server HTTP 200 zurück,
            aber mit einem strukturierten Fehler-Objekt im Body.
          headers:
            RateLimit:
              description: Rate Limit Status
              schema:
                type: string
                example: "90-in-1hr; r=89; t=3600"
            RateLimit-Policy:
              description: Rate Limit Policy
              schema:
                type: string
                example: "90-in-1hr; q=90; w=3600"
          content:
            application/json:
              schema:
                type: object
                properties:
                  ttr:
                    type: integer
                    description: Aktueller TTR-Wert
                  event:
                    type: array
                    items:
                      type: object
                      properties:
                        wlr:
                          type: string
                          nullable: true
                        type:
                          type: string
                          description: Event-Typ (z.B. "meeting")
                        match:
                          type: array
                          items:
                            type: object
                          description: Einzelne Matches innerhalb des Events
                        event_id:
                          type: integer
                        ttr_after:
                          type: integer
                          description: TTR nach dem Event
                        ttr_delta:
                          type: integer
                          description: TTR-Änderung
                        event_name:
                          type: string
                        ttr_before:
                          type: integer
                          description: TTR vor dem Event
                        match_count:
                          type: integer
                        matches_won:
                          type: integer
                        matches_lost:
                          type: integer
                        event_date_time:
                          type: string
                          format: date-time
                        expected_result:
                          type: string
                        alteration_constant:
                          type: integer
                    description: Chronologische Liste aller TTR-Events
                  vq_ttr:
                    type: integer
                    description: Vorquartal-TTR
                  max_ttr:
                    type: integer
                    description: Höchster jemals erreichter TTR
                  ttr_date:
                    type: string
                    format: date
                  club_name:
                    type: string
                  from_date:
                    type: string
                    format: date-time
                  person_id:
                    type: string
                  until_date:
                    type: string
                    format: date-time
                  person_name:
                    type: string
                  max_ttr_date:
                    type: string
                    format: date
                  ttr_last_fixed:
                    type: string
                  vq_ttr_german_rank:
                    type: integer
                  ttr_last_fixed_date:
                    type: string
                    format: date
                  vq_ttr_german_sex_rank:
                    type: integer
                  ttr_last_fixed_german_rank:
                    type: integer
                  ttr_last_fixed_german_sex_rank:
                    type: integer
              examples:
                success:
                  summary: Erfolgreiche Abfrage (mit Auth)
                  value:
                    ttr: 2618
                    event:
                      - wlr: null
                        type: "meeting"
                        match:
                          - type: "meeting"
                            own_set1: 11
                            own_set2: 11
                            own_set3: 9
                            own_set4: 11
                            own_sets: 3
                            other_ttr: 2547
                            scheduled: "2025-11-12 18:30:00"
                            other_sets: 1
                            own_person_name: "Qiu, Dang"
                            other_person_name: "Karlsson, Kristian"
                        event_id: 422517555
                        ttr_after: 2624
                        ttr_delta: 4
                        event_name: "BL1-Erwachsene | Borussia Düsseldorf : BV Borussia Dortmund"
                        ttr_before: 2620
                        match_count: 1
                        matches_won: 1
                        matches_lost: 0
                        event_date_time: "2025-11-12T18:30:00+00:00"
                        expected_result: "0,7541"
                        alteration_constant: 16
                    vq_ttr: 2623
                    max_ttr: 2661
                    ttr_date: "2025-12-01"
                    club_name: "Borussia Düsseldorf"
                    person_id: "NU7535"
                    person_name: "Qiu, Dang"
                    max_ttr_date: "2024-09-09"
                unauthorized:
                  summary: Fehlende Authentifizierung (trotz HTTP 200!)
                  value:
                    error:
                      code: "PT403"
                      details: "Not logged in"
                      hint: "Login or register"
                      message: "Not authorized"

  /api/ttr/player/{nuid}:
    get:
      tags:
        - Spieler*innen & TTR
      operationId: getCurrentTtr
      summary: Aktuellen TTR-Wert abrufen
      description: |
        **Hinweis:** Dieser Endpunkt benötigt Authentifizierung.
        Ohne Auth wird ein `PT403` Fehler zurückgegeben.
      security:
        - cookieAuth: []
      parameters:
        - name: nuid
          in: path
          required: true
          schema:
            type: string
          description: Nationale User ID
          example: "NU7535"
      responses:
        '200':
          description: |
            Aktueller TTR-Wert.
            
            **Achtung:** Bei fehlender Authentifizierung gibt der Server HTTP 200 zurück,
            aber mit `ttr: null` und einem strukturierten Fehler-Objekt.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ttr:
                    type: integer
                    nullable: true
                    description: Aktueller TTR-Wert des Spielers (null bei Auth-Fehler)
                  error:
                    type: object
                    nullable: true
                    description: Fehler-Objekt bei fehlender Authentifizierung (null bei erfolgreicher Abfrage)
                    properties:
                      code:
                        type: string
                      details:
                        type: string
                      hint:
                        type: string
                      message:
                        type: string
              examples:
                success:
                  summary: Erfolgreiche Abfrage (mit Auth)
                  value:
                    ttr: 2618
                    error: null
                unauthorized:
                  summary: Fehlende Authentifizierung (trotz HTTP 200!)
                  value:
                    ttr: null
                    error:
                      code: "PT403"
                      details: "Not logged in"
                      hint: "Login or register"
                      message: "Not authorized"

  /api/meeting/{meeting_id}/live:
    get:
      tags:
        - Begegnungen
      operationId: getMeetingLiveStatus
      summary: Live-Status einer Begegnung abrufen
      description: |
        Lädt den aktuellen Live-Status einer laufenden oder abgeschlossenen Begegnung.
        
        Enthält Spielstände, Aufstellungen und Einzelergebnisse.
        
        **Öffentlich zugänglich.**
      security: []
      parameters:
        - name: meeting_id
          in: path
          required: true
          schema:
            type: string
          description: Meeting/Begegnungs-ID
          example: "15348526"
      responses:
        '200':
          description: Live-Status und Daten der Begegnung
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      live:
                        type: boolean
                        description: Ob die Begegnung aktuell live läuft
                      is_completed:
                        type: boolean
                        description: Ob die Begegnung abgeschlossen ist
                      has_nu_live_push_data:
                        type: boolean
                        description: Ob Live-Push-Daten verfügbar sind
                      scheduled:
                        type: string
                        format: date-time
                        description: Geplanter Start
                      start_date:
                        type: string
                        format: date-time
                      end_date:
                        type: string
                        format: date-time
                      team_home:
                        type: string
                        description: Name Heim-Mannschaft
                      team_guest:
                        type: string
                        description: Name Gast-Mannschaft
                      team_home_id:
                        type: string
                      team_guest_id:
                        type: string
                      matches_home:
                        type: integer
                        description: Gewonnene Matches Heim
                      matches_guest:
                        type: integer
                        description: Gewonnene Matches Gast
                      sets_home:
                        type: integer
                        description: Gewonnene Sätze Heim
                      sets_guest:
                        type: integer
                        description: Gewonnene Sätze Gast
                      games_home:
                        type: integer
                        description: Gewonnene Spiele Heim
                      games_guest:
                        type: integer
                        description: Gewonnene Spiele Gast
                      match:
                        type: array
                        items:
                          type: object
                          properties:
                            match_name:
                              type: string
                            game_type:
                              type: string
                              enum: [single, double]
                            sets_home:
                              type: integer
                            sets_guest:
                              type: integer
                            set1_home:
                              type: integer
                            set1_guest:
                              type: integer
                            mm_player11:
                              type: object
                              description: Heimspieler 1
                            mm_player12:
                              type: object
                              nullable: true
                              description: Heimspieler 2 (nur bei Doppel)
                            mm_player21:
                              type: object
                              description: Gastspieler 1
                            mm_player22:
                              type: object
                              nullable: true
                              description: Gastspieler 2 (nur bei Doppel)
                        description: Einzelne Matches mit Spielständen
                      location:
                        type: object
                        description: Spielort-Details
                      group_name:
                        type: string
                      league_name:
                        type: string
                      season_nickname:
                        type: string
                  error:
                    type: string
                    nullable: true
                    description: Fehlermeldung, falls vorhanden
              example:
                data:
                  live: false
                  is_completed: true
                  has_nu_live_push_data: false
                  scheduled: "2025-09-16T17:00:00.000+00:00"
                  team_home: "ASC Grünwettersbach"
                  team_guest: "Borussia Düsseldorf"
                  matches_home: 3
                  matches_guest: 1
                  sets_home: 9
                  sets_guest: 5
                  match:
                    - match_name: "1-2"
                      game_type: "single"
                      sets_home: 3
                      sets_guest: 1
                      set1_home: 1
                      set1_guest: 11
                      mm_player11:
                        firstname: "Hiroto"
                        lastname: "Shinozuka"
                        person_id: "NU1911451"
                      mm_player21:
                        firstname: "Yongyin"
                        lastname: "Li"
                        person_id: "NU2250510"
                error: null

  /api/ttr/teams:
    get:
      tags:
        - Vereine
      operationId: getClubTeams
      summary: Teams eines Vereins abrufen
      description: |
        Lädt alle Mannschaften eines Vereins für eine bestimmte Saison.
        
        Gibt Team-IDs zurück, die für weitere API-Aufrufe benötigt werden.
        
        **Öffentlich zugänglich.**
      security: []
      parameters:
        - name: clubNumber
          in: query
          required: true
          schema:
            type: string
            example: "13118"
          description: Die Vereinsnummer (z.B. aus der Suche)
        - name: organization
          in: query
          required: true
          schema:
            type: string
            example: "WTTV"
          description: Der Landesverband (z.B. WTTV, TTVN, etc.)
      responses:
        '200':
          description: Liste der Teams
          headers:
            RateLimit:
              description: Rate Limit Status
              schema:
                type: string
                example: "90-in-1hr; r=78; t=1168"
            RateLimit-Policy:
              description: Rate Limit Policy
              schema:
                type: string
                example: "90-in-1hr; q=90; w=3600"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        season:
                          type: string
                          description: Saison (z.B. "25/26" oder "P 25/26" für Pokal)
                        team_id:
                          type: string
                          description: Eindeutige Team-ID
                        group_id:
                          type: string
                          description: Gruppen-ID
                        team_name:
                          type: string
                          description: Name des Teams
                        points_won:
                          type: string
                          description: Gewonnene Punkte
                        table_rank:
                          type: string
                          description: Tabellenplatz
                        league_name:
                          type: string
                          description: Name der Liga
                        points_lost:
                          type: string
                          description: Verlorene Punkte
                        team_organisation_short:
                          type: string
                          description: Kürzel des zuständigen Verbands
                    description: Liste der Teams des Vereins
                  error:
                    type: string
                    nullable: true
                    description: Fehlermeldung, falls vorhanden
              example:
                data:
                  - season: "25/26"
                    team_id: "2953148"
                    group_id: "493079"
                    team_name: "Erwachsene"
                    points_won: "14"
                    table_rank: "1"
                    league_name: "Tischtennis Bundesliga"
                    points_lost: "4"
                    team_organisation_short: "DTTB"
                error: null

  /api/ttr/team/schedule:
    get:
      tags:
        - Mannschaften
      operationId: getTeamSchedule
      summary: Mannschaftsspielplan abrufen
      description: |
        Lädt den Spielplan einer Mannschaft.
        
        Liefert alle Begegnungen mit Gegner, Datum und Ergebnis (falls gespielt).
        
        **Öffentlich zugänglich.**
      security: []
      parameters:
        - name: teamId
          in: query
          required: true
          schema:
            type: string
          description: Eindeutige Team-ID
          example: "2953148"
        - name: season
          in: query
          required: true
          schema:
            type: string
          description: Saison-Kürzel oder Jahr (z.B. "25--26")
          example: "25--26"
      responses:
        '200':
          description: Spielplan Daten
          headers:
            RateLimit:
              description: Rate Limit Status
              schema:
                type: string
                example: "90-in-1hr; r=82; t=589"
            RateLimit-Policy:
              description: Rate Limit Policy
              schema:
                type: string
                example: "90-in-1hr; q=90; w=3600"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        opponent_team_id:
                          type: integer
                          description: ID des gegnerischen Teams
                        opponent_team_name:
                          type: string
                          description: Name des gegnerischen Teams
                        date:
                          type: string
                          format: date-time
                          description: Spieltermin (ISO 8601)
                    description: Liste der Spieltermine und Begegnungen
                  error:
                    type: string
                    nullable: true
                    description: Fehlermeldung, falls vorhanden
              example:
                data:
                  - opponent_team_id: 2953190
                    opponent_team_name: "TTC Schwalbe Bergneustadt"
                    date: "2025-11-16T11:00:00.000+00:00"
                error: null

  /api/ttr/team/players:
    get:
      tags:
        - Mannschaften
      operationId: getTeamPlayers
      summary: Aufstellung einer Mannschaft abrufen
      description: |
        Lädt die Aufstellung einer Mannschaft mit Rangpositionen.
        
        Gibt die Namen, NU-IDs und Rangfolge der gemeldeten Personen zurück.
        
        **Öffentlich zugänglich.**
      security: []
      parameters:
        - name: teamId
          in: query
          required: true
          schema:
            type: string
          description: Eindeutige Team-ID
          example: "2953148"
      responses:
        '200':
          description: Aufstellungsliste
          headers:
            RateLimit:
              description: Rate Limit Status
              schema:
                type: string
                example: "90-in-1hr; r=82; t=589"
            RateLimit-Policy:
              description: Rate Limit Policy
              schema:
                type: string
                example: "90-in-1hr; q=90; w=3600"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        firstname:
                          type: string
                          description: Vorname des Spielers
                        lastname:
                          type: string
                          description: Nachname des Spielers
                        internal_id:
                          type: string
                          description: Interne Spieler-ID
                        rank:
                          type: integer
                          description: Position/Rang in der Mannschaft
                    description: Aufstellungsliste der Mannschaft
                  error:
                    type: string
                    nullable: true
                    description: Fehlermeldung, falls vorhanden
              example:
                data:
                  - firstname: "Dang"
                    lastname: "Qiu"
                    internal_id: "NU7535"
                    rank: 1
                  - firstname: "Yongyin"
                    lastname: "Li"
                    internal_id: "NU2250510"
                    rank: 2
                error: null

  # ================================================================
  # FRONTEND-DATA
  # ================================================================
  /click-tt/{association}/{season}/ligen/{league_slug}/gruppe/{groupId}/tabelle/{filter}:
    get:
      tags:
        - Ligen & Gruppen
      operationId: getFrontendLeagueTable
      summary: Liga-Tabelle abrufen
      description: |
        Lädt die detaillierte Tabelle direkt aus dem Frontend-Loader.
        **Wichtig:** Dies ist der einzige Weg, um explizit die **Vorrunde (vr)** oder **Rückrunde (rr)** abzurufen.
        Die "saubere" API `/api/league-table` ignoriert diesen Filter oft.
      security: []
      parameters:
        - $ref: '#/components/parameters/association'
        
        - name: season
          in: path
          required: true
          schema:
            type: string
            example: "25--26"
          description: "Saison (z.B. 25--26)"

        - name: league_slug
          in: path
          required: true
          schema:
            type: string
            example: "Tischtennis_Bundesliga"
          description: "Name der Liga (URL-Slug, technischer Wert für API irrelevant)"

        - name: groupId
          in: path
          required: true
          schema:
            type: string
            example: "493079"
          description: "Die Gruppen-ID"

        - name: filter
          in: path
          required: true
          schema:
            type: string
            enum: 
              - gesamt
              - vr
              - rr
            default: gesamt
          description: "Zeitraum-Filter (gesamt = Gesamttabelle, vr = Vorrunde/Hinrunde, rr = Rückrunde)"

        - name: _data
          in: query
          required: true
          schema:
            type: string
            default: "routes/click-tt+/$association+/$season+/$type+/$groupname.gruppe.$urlid+/tabelle.$filter"
            example: "routes/click-tt+/$association+/$season+/$type+/$groupname.gruppe.$urlid+/tabelle.$filter"
          description: "Muss exakt dieser String sein (URL-encoded beim Aufruf). Interne Remix Route-ID."

      responses:
        '200':
          description: Page Data mit vollständigen Tabellen- und Spieldaten
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      set_count:
                        type: integer
                        description: Gesamtanzahl der Sätze
                      game_count:
                        type: integer
                        description: Gesamtanzahl der Spiele
                      head_infos:
                        $ref: '#/components/schemas/FrontendHeadInfos'
                      no_meetings:
                        type: boolean
                      league_table:
                        type: array
                        items:
                          type: object
                          properties:
                            club_id:
                              type: string
                            team_id:
                              type: string
                            sets_won:
                              type: integer
                            tendency:
                              type: string
                            games_won:
                              type: integer
                            sets_lost:
                              type: integer
                            team_name:
                              type: string
                            games_lost:
                              type: integer
                            points_won:
                              type: integer
                            table_rank:
                              type: integer
                            is_excluded:
                              type: boolean
                            matches_won:
                              type: integer
                            points_lost:
                              type: integer
                            matches_lost:
                              type: integer
                            meetings_tie:
                              type: integer
                            meetings_won:
                              type: integer
                            meetings_lost:
                              type: integer
                            sets_relation:
                              type: string
                            games_relation:
                              type: string
                            meetings_count:
                              type: integer
                            rise_fall_state:
                              type: string
                            is_excluded_date:
                              type: string
                              nullable: true
                            is_excluded_text:
                              type: string
                              nullable: true
                            matches_relation:
                              type: string
                      games_per_set:
                        type: number
                        format: float
                      league_ttr_avg:
                        type: integer
                        nullable: true
                      meetings_excerpt:
                        type: object
                        properties:
                          remarks:
                            type: string
                            nullable: true
                          meetings:
                            type: array
                            items:
                              type: object
                              properties:
                                date:
                                  type: string
                                  format: date-time
                                live:
                                  type: boolean
                                state:
                                  type: string
                                  enum: [scheduled, done, cancelled]
                                pdf_url:
                                  type: string
                                end_date:
                                  type: string
                                  format: date-time
                                location:
                                  type: object
                                  properties:
                                    zip:
                                      type: string
                                      nullable: true
                                    city:
                                      type: string
                                      nullable: true
                                    label:
                                      type: string
                                      nullable: true
                                    street:
                                      type: string
                                      nullable: true
                                    country:
                                      type: string
                                      nullable: true
                                league_id:
                                  type: string
                                team_away:
                                  type: string
                                team_home:
                                  type: string
                                meeting_id:
                                  type: string
                                round_name:
                                  type: string
                                  nullable: true
                                round_type:
                                  type: string
                                hall_number:
                                  type: string
                                is_letter_h:
                                  type: boolean
                                is_letter_t:
                                  type: boolean
                                is_letter_u:
                                  type: boolean
                                is_letter_v:
                                  type: boolean
                                is_letter_w:
                                  type: boolean
                                is_letter_z:
                                  type: boolean
                                league_name:
                                  type: string
                                matches_won:
                                  type: string
                                is_confirmed:
                                  type: boolean
                                is_letter_na:
                                  type: boolean
                                is_letter_w2:
                                  type: boolean
                                matches_lost:
                                  type: string
                                team_away_id:
                                  type: string
                                team_home_id:
                                  type: string
                                letter_h_info:
                                  type: string
                                  nullable: true
                                letter_w_info:
                                  type: string
                                  nullable: true
                                letter_z_info:
                                  type: string
                                  nullable: true
                                original_date:
                                  type: string
                                  format: date-time
                                  nullable: true
                                letter_na_info:
                                  type: string
                                  nullable: true
                                meeting_number:
                                  type: string
                                  nullable: true
                                league_short_name:
                                  type: string
                                team_away_club_id:
                                  type: string
                                team_home_club_id:
                                  type: string
                                is_meeting_complete:
                                  type: boolean
                                has_nu_live_push_data:
                                  type: boolean
                                  nullable: true
                                league_org_short_name:
                                  type: string
                                nu_score_live_enabled:
                                  type: boolean
                                is_provisionally_recorded:
                                  type: boolean
                          round_type:
                            type: string
                          pdf_version_url:
                            type: string
                          pdf_materials_url:
                            type: string
                  season_filter:
                    type: string
                  filter:
                    type: string
                  association:
                    $ref: '#/components/schemas/Association'
                  error:
                    type: string
                    nullable: true
                  season:
                    type: string
                  groupname:
                    type: string
                  urlid:
                    type: string
              example:
                data:
                  set_count: 828
                  game_count: 15462
                  head_infos:
                    season: "25/26"
                    play_mode: "TTBL Spielsystem inkl. Doppel"
                    league_name: "Tischtennis Bundesliga"
                    championship: "DTTB 25/26"
                    gender_age_group: "Erwachsene"
                    organization_short: "DTTB"
                  no_meetings: false
                  league_table:
                    - club_id: "13118"
                      team_id: "2953148"
                      sets_won: 80
                      tendency: "steady"
                      games_won: 1328
                      sets_lost: 55
                      team_name: "Borussia Düsseldorf"
                      games_lost: 1162
                      points_won: 14
                      table_rank: 1
                      is_excluded: false
                      matches_won: 22
                      points_lost: 4
                      matches_lost: 12
                      meetings_tie: 0
                      meetings_won: 7
                      meetings_lost: 2
                      sets_relation: "+25"
                      games_relation: "+166"
                      meetings_count: 9
                      rise_fall_state: "none"
                      is_excluded_date: null
                      is_excluded_text: null
                      matches_relation: "+10"
                    - club_id: "42"
                      team_id: "2953155"
                      sets_won: 78
                      tendency: "steady"
                      games_won: 1315
                      sets_lost: 59
                      team_name: "SV Werder Bremen"
                      games_lost: 1240
                      points_won: 14
                      table_rank: 2
                      is_excluded: false
                      matches_won: 22
                      points_lost: 4
                      matches_lost: 12
                      meetings_tie: 0
                      meetings_won: 7
                      meetings_lost: 2
                      sets_relation: "+19"
                      games_relation: "+75"
                      meetings_count: 9
                      rise_fall_state: "none"
                      is_excluded_date: null
                      is_excluded_text: null
                      matches_relation: "+10"
                  games_per_set: 18.7
                  league_ttr_avg: null
                  meetings_excerpt:
                    remarks: null
                    meetings:
                      - date: "2025-11-16T11:00:00.000+00:00"
                        live: false
                        state: "done"
                        pdf_url: "https://dttb.click-tt.de/cgi-bin/WebObjects/nuLigaDokumentTTDE.woa/wa/nuDokument?dokument=MeetingReportTTFOP&meeting=15348642&historicalDataToken=ywIZitm4LWVkT3IxDWp7dA%3D%3D"
                        end_date: "2025-11-16T14:08:00.000+00:00"
                        location:
                          zip: "40629"
                          city: "Düsseldorf"
                          label: "ARAG CenterCourt"
                          street: "Borussia-Düsseldorf-Straße 1 Parken auf P+R Staufenplatz"
                          country: "Deutschland"
                        league_id: "493079"
                        team_away: "TTC Schwalbe Bergneustadt"
                        team_home: "Borussia Düsseldorf"
                        meeting_id: "15348642"
                        round_name: null
                        round_type: "0"
                        hall_number: "1"
                        is_letter_h: false
                        is_letter_t: false
                        is_letter_u: false
                        is_letter_v: false
                        is_letter_w: false
                        is_letter_z: false
                        league_name: "Tischtennis Bundesliga"
                        matches_won: "3"
                        is_confirmed: false
                        is_letter_na: false
                        is_letter_w2: false
                        matches_lost: "1"
                        team_away_id: "2953190"
                        team_home_id: "2953148"
                        letter_h_info: null
                        letter_w_info: null
                        letter_z_info: null
                        original_date: null
                        letter_na_info: null
                        meeting_number: null
                        league_short_name: "BL1 E"
                        team_away_club_id: "21608"
                        team_home_club_id: "13118"
                        is_meeting_complete: true
                        has_nu_live_push_data: null
                        league_org_short_name: "DTTB"
                        nu_score_live_enabled: false
                        is_provisionally_recorded: false
                    round_type: "mixed"
                    pdf_version_url: "https://dttb.click-tt.de/cgi-bin/WebObjects/nuLigaDokumentTTDE.woa/wa/nuDokument?dokument=ScheduleReportFOP&group=493079"
                    pdf_materials_url: "https://dttb.click-tt.de/cgi-bin/WebObjects/nuLigaDokumentTTDE.woa/wa/nuDokument?dokument=TeamMaterialsFOP&group=493079"
                season_filter: "finalRound"
                filter: "gesamt"
                association: "DTTB"
                error: null
                season: "25--26"
                groupname: "Tischtennis_Bundesliga"
                urlid: "493079"

  /click-tt/{association}/{season}/ligen/{league_slug}/gruppe/{groupId}/spielplan/{filter}:
    get:
      tags:
        - Ligen & Gruppen
      operationId: getFrontendSchedule
      summary: Gruppen-Spielplan abrufen
      description: |
        Lädt den Spielplan direkt aus dem Frontend-Loader.
        Ermöglicht die Filterung nach **Vorrunde (vr)** und **Rückrunde (rr)**, was über die Standard-API oft nicht möglich ist.
      security: []
      parameters:
        - $ref: '#/components/parameters/association'
        
        - name: season
          in: path
          required: true
          schema:
            type: string
            example: "25--26"
          description: "Saison (z.B. 25--26)"

        - name: league_slug
          in: path
          required: true
          schema:
            type: string
            example: "Tischtennis_Bundesliga"
            default: "x"
          description: "Name der Liga (URL-Slug). Technisch meist irrelevant ('x' funktioniert oft)."

        - name: groupId
          in: path
          required: true
          schema:
            type: string
            example: "493079"
          description: "Die Gruppen-ID"

        - name: filter
          in: path
          required: true
          schema:
            type: string
            enum: 
              - gesamt
              - vr
              - rr
            default: gesamt
          description: "Zeitraum-Filter (gesamt = Gesamtspielplan, vr = Vorrunde/Hinrunde, rr = Rückrunde)"

        - name: _data
          in: query
          required: true
          schema:
            type: string
            default: "routes/click-tt+/$association+/$season+/$type+/$groupname.gruppe.$urlid+/spielplan.$filter"
            example: "routes/click-tt+/$association+/$season+/$type+/$groupname.gruppe.$urlid+/spielplan.$filter"
          description: "Muss exakt dieser String sein (URL-encoded beim Aufruf). Interne Remix Route-ID für Spielplan."

      responses:
        '200':
          description: Page Data mit Spielplan-Objekt
          content:
            application/json:
              schema:
                type: object
                properties:
                  season:
                    type: string
                    description: Saison
                  association:
                    $ref: '#/components/schemas/Association'
                  groupname:
                    type: string
                    description: Name der Gruppe/Liga
                  urlid:
                    type: string
                    description: Gruppen-ID
                  season_filter:
                    type: string
                    enum: [firstRound, secondRound]
                    description: Filter (firstRound = VR, secondRound = RR)
                  seasonType:
                    type: string
                    description: Typ der Saison
                  data:
                    type: object
                    properties:
                      remarks:
                        type: string
                        nullable: true
                        description: Anmerkungen zum Spielplan
                      meetings:
                        type: array
                        description: Begegnungen gruppiert nach Datum
                        items:
                          type: object
                          additionalProperties:
                            type: array
                            items:
                              type: object
                              properties:
                                date:
                                  type: string
                                  format: date-time
                                  description: Spielbeginn
                                live:
                                  type: boolean
                                  description: Ob das Spiel live ist
                                state:
                                  type: string
                                  enum: [scheduled, done]
                                  description: Status der Begegnung
                                pdf_url:
                                  type: string
                                  description: Link zum Spielbericht
                                end_date:
                                  type: string
                                  format: date-time
                                  description: Spielende
                                location:
                                  type: object
                                  properties:
                                    zip:
                                      type: string
                                      nullable: true
                                    city:
                                      type: string
                                      nullable: true
                                    label:
                                      type: string
                                      nullable: true
                                    street:
                                      type: string
                                      nullable: true
                                    country:
                                      type: string
                                      nullable: true
                                league_id:
                                  type: string
                                team_away:
                                  type: string
                                team_home:
                                  type: string
                                meeting_id:
                                  type: string
                                round_name:
                                  type: string
                                  nullable: true
                                round_type:
                                  type: string
                                hall_number:
                                  type: string
                                is_letter_h:
                                  type: boolean
                                  description: Hallenverlegung
                                is_letter_t:
                                  type: boolean
                                is_letter_u:
                                  type: boolean
                                is_letter_v:
                                  type: boolean
                                  description: Terminverlegung
                                is_letter_w:
                                  type: boolean
                                is_letter_z:
                                  type: boolean
                                league_name:
                                  type: string
                                matches_won:
                                  type: string
                                  description: Gewonnene Matches (Heimteam)
                                is_confirmed:
                                  type: boolean
                                is_letter_na:
                                  type: boolean
                                is_letter_w2:
                                  type: boolean
                                matches_lost:
                                  type: string
                                  description: Verlorene Matches (Heimteam)
                                team_away_id:
                                  type: string
                                team_home_id:
                                  type: string
                                letter_h_info:
                                  type: string
                                  nullable: true
                                  description: Info zur Hallenverlegung
                                letter_w_info:
                                  type: string
                                  nullable: true
                                letter_z_info:
                                  type: string
                                  nullable: true
                                original_date:
                                  type: string
                                  nullable: true
                                  format: date-time
                                  description: Ursprünglicher Termin bei Verlegung
                                letter_na_info:
                                  type: string
                                  nullable: true
                                meeting_number:
                                  type: string
                                  nullable: true
                                league_short_name:
                                  type: string
                                team_away_club_id:
                                  type: string
                                team_home_club_id:
                                  type: string
                                is_meeting_complete:
                                  type: boolean
                                league_org_short_name:
                                  type: string
                                nu_score_live_enabled:
                                  type: boolean
                                is_provisionally_recorded:
                                  type: boolean
                      head_infos:
                        $ref: '#/components/schemas/FrontendHeadInfos'
                      round_type:
                        type: string
                        enum: [mixed]
                      pdf_version_url:
                        type: string
                        description: Link zum PDF-Spielplan
                      pdf_materials_url:
                        type: string
                        description: Link zum PDF mit Materialien
                  error:
                    type: string
                    nullable: true
              example:
                season: "25--26"
                association: "DTTB"
                groupname: "Tischtennis_Bundesliga"
                urlid: "493079"
                season_filter: "firstRound"
                seasonType: ""
                data:
                  remarks: null
                  meetings:
                    - "2025-08-27":
                        - date: "2025-08-27T17:00:00.000+00:00"
                          live: false
                          state: "done"
                          pdf_url: "https://dttb.click-tt.de/cgi-bin/WebObjects/nuLigaDokumentTTDE.woa/wa/nuDokument?dokument=MeetingReportTTFOP&meeting=15285692&historicalDataToken=bLKAWvi5PBUeJkdkqVxElA%3D%3D"
                          end_date: "2025-08-27T20:36:00.000+00:00"
                          location:
                            zip: "99974"
                            city: "Mühlhausen"
                            label: "LOTTO Thüringen Center Court"
                            street: "Kristanplatz 10"
                            country: "Deutschland"
                          league_id: "493079"
                          team_away: "ASC Grünwettersbach"
                          team_home: "Post SV Mühlhausen"
                          meeting_id: "15285692"
                          round_name: null
                          round_type: "0"
                          hall_number: "1"
                          is_letter_h: false
                          is_letter_t: false
                          is_letter_u: false
                          is_letter_v: false
                          is_letter_w: false
                          is_letter_z: false
                          league_name: "Tischtennis Bundesliga"
                          matches_won: "3"
                          is_confirmed: true
                          is_letter_na: false
                          is_letter_w2: false
                          matches_lost: "1"
                          team_away_id: "2953167"
                          team_home_id: "2953194"
                          letter_h_info: null
                          letter_w_info: null
                          letter_z_info: null
                          original_date: null
                          letter_na_info: null
                          meeting_number: null
                          league_short_name: "BL1 E"
                          team_away_club_id: "412"
                          team_home_club_id: "109017"
                          is_meeting_complete: true
                          league_org_short_name: "DTTB"
                          nu_score_live_enabled: false
                          is_provisionally_recorded: false
                    - "2025-08-30":
                        - date: "2025-08-30T13:00:00.000+00:00"
                          live: false
                          state: "done"
                          pdf_url: "https://dttb.click-tt.de/cgi-bin/WebObjects/nuLigaDokumentTTDE.woa/wa/nuDokument?dokument=MeetingReportTTFOP&meeting=15285897&historicalDataToken=bLKAWvi5PBUeJkdkqVxElA%3D%3D"
                          end_date: "2025-08-30T16:25:00.000+00:00"
                          location:
                            zip: "28205"
                            city: "Bremen"
                            label: "Klaus-Dieter-Fischer-Halle"
                            street: "Hermine-Berthold-Straße 20"
                            country: "Deutschland"
                          league_id: "493079"
                          team_away: "TTC OE Clarity Telefonie-Systeme Bad Homburg e.V."
                          team_home: "SV Werder Bremen"
                          meeting_id: "15285897"
                          round_name: null
                          round_type: "0"
                          hall_number: "1"
                          is_letter_h: false
                          is_letter_t: false
                          is_letter_u: false
                          is_letter_v: false
                          is_letter_w: false
                          is_letter_z: false
                          league_name: "Tischtennis Bundesliga"
                          matches_won: "3"
                          is_confirmed: true
                          is_letter_na: false
                          is_letter_w2: false
                          matches_lost: "2"
                          team_away_id: "2953217"
                          team_home_id: "2953155"
                          letter_h_info: null
                          letter_w_info: null
                          letter_z_info: null
                          original_date: null
                          letter_na_info: null
                          meeting_number: null
                          league_short_name: "BL1 E"
                          team_away_club_id: "31024"
                          team_home_club_id: "42"
                          is_meeting_complete: true
                          league_org_short_name: "DTTB"
                          nu_score_live_enabled: false
                          is_provisionally_recorded: false
                  head_infos:
                    season: "25/26"
                    play_mode: "TTBL Spielsystem inkl. Doppel"
                    league_name: "Tischtennis Bundesliga"
                    championship: "DTTB 25/26"
                    gender_age_group: "Erwachsene"
                    organization_short: "DTTB"
                  round_type: "mixed"
                  pdf_version_url: "https://dttb.click-tt.de/cgi-bin/WebObjects/nuLigaDokumentTTDE.woa/wa/nuDokument?dokument=ScheduleReportFOP&type=small&roundTyp=vorrunde&group=493079"
                  pdf_materials_url: "https://dttb.click-tt.de/cgi-bin/WebObjects/nuLigaDokumentTTDE.woa/wa/nuDokument?dokument=TeamMaterialsFOP&group=493079"
                error: null

  /click-tt/{association}/{season}/ligen/{league_slug}/gruppe/{groupId}/kontakte:
    get:
      tags:
        - Ligen & Gruppen
      operationId: getFrontendContacts
      summary: Gruppen-Kontakte abrufen
      description: |
        Lädt die Kontaktseite einer Liga.
        Enthält oft:
        * Staffelleitung (Kontaktdaten)
        * Mannschaftsführung aller Teams
        * Spiellokale (Adressen)
      security: []
      parameters:
        - $ref: '#/components/parameters/association'
        
        - name: season
          in: path
          required: true
          schema:
            type: string
            example: "25--26"
          description: "Saison (z.B. 25--26)"

        - name: league_slug
          in: path
          required: true
          schema:
            type: string
            example: "Tischtennis_Bundesliga"
            default: "x"
          description: "Name der Liga (URL-Slug)."

        - name: groupId
          in: path
          required: true
          schema:
            type: string
            example: "493079"
          description: "Die Gruppen-ID"

        - name: _data
          in: query
          required: true
          schema:
            type: string
            default: "routes/click-tt+/$association+/$season+/$type+/$groupname.gruppe.$urlid+/kontakte"
            example: "routes/click-tt+/$association+/$season+/$type+/$groupname.gruppe.$urlid+/kontakte"
          description: "Muss exakt dieser String sein (URL-encoded beim Aufruf). Interne Remix Route-ID für Kontakte."

      responses:
        '200':
          description: Kontakt-Informationen
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      teams:
                        type: array
                        description: Liste aller Teams mit Kontaktdaten
                        items:
                          type: object
                          properties:
                            club_id:
                              type: string
                            club_name:
                              type: string
                            team_name:
                              type: string
                            team_contact:
                              type: object
                              properties:
                                city:
                                  type: string
                                  nullable: true
                                label:
                                  type: string
                                street:
                                  type: string
                                  nullable: true
                                zipcode:
                                  type: string
                                  nullable: true
                                email_home:
                                  type: string
                                  nullable: true
                                email_work:
                                  type: string
                                  nullable: true
                                phone_home:
                                  type: string
                                  nullable: true
                                phone_work:
                                  type: string
                                  nullable: true
                                contact_name:
                                  type: string
                                phone_mobile:
                                  type: string
                                  nullable: true
                            club_contacts:
                              type: array
                              description: Kontaktadresse(n) und Spiellokale
                              items:
                                type: object
                                properties:
                                  city:
                                    type: string
                                    nullable: true
                                  label:
                                    type: string
                                  street:
                                    type: string
                                    nullable: true
                                  website:
                                    type: string
                                    nullable: true
                                  zipcode:
                                    type: string
                                    nullable: true
                                  email_home:
                                    type: string
                                    nullable: true
                                  email_work:
                                    type: string
                                    nullable: true
                                  phone_home:
                                    type: string
                                    nullable: true
                                  phone_work:
                                    type: string
                                    nullable: true
                                  contact_name:
                                    type: string
                                  phone_mobile:
                                    type: string
                                    nullable: true
                      head_infos:
                        $ref: '#/components/schemas/FrontendHeadInfos'
                      no_meetings:
                        type: boolean
                      season_list:
                        type: array
                        description: Verfügbare Saisons
                        items:
                          $ref: '#/components/schemas/FrontendSeasonListItem'
                      group_leader:
                        type: object
                        description: Staffelleiter
                        properties:
                          city:
                            type: string
                          street:
                            type: string
                          zipcode:
                            type: string
                          email_home:
                            type: string
                            nullable: true
                          email_work:
                            type: string
                            nullable: true
                          phone_home:
                            type: string
                            nullable: true
                          phone_work:
                            type: string
                            nullable: true
                          contact_name:
                            type: string
                          phone_mobile:
                            type: string
                            nullable: true
                      meetings_excerpt:
                        type: object
                        description: Aktuelle Begegnungen (wie im Spielplan)
                  season:
                    type: string
                  association:
                    $ref: '#/components/schemas/Association'
                  groupname:
                    type: string
                  urlid:
                    type: string
                  error:
                    type: string
                    nullable: true
              example:
                data:
                  teams:
                    - club_id: "13118"
                      club_name: "Borussia Düsseldorf"
                      team_name: "Borussia Düsseldorf"
                      team_contact:
                        city: "Düsseldorf"
                        label: "Mannschaftskontakt"
                        street: "Borussia-Düsseldorf-Straße 1"
                        zipcode: "40629"
                        email_home: "m.mustermann@beispiel-verein.de"
                        email_work: null
                        phone_home: null
                        phone_work: "0211-1234567"
                        contact_name: "Max Mustermann"
                        phone_mobile: "0170-1234567"
                      club_contacts:
                        - city: "Düsseldorf"
                          label: "Kontaktadresse"
                          street: "Borussia-Düsseldorf-Straße 1"
                          website: "www.beispiel-verein.de"
                          zipcode: "40629"
                          email_home: "info@beispiel-verein.de"
                          email_work: null
                          phone_home: "ACHTUNG EINLADUNGEN UNTER AMATEURABT."
                          phone_work: "0211 / 99179-0"
                          contact_name: "Geschäftsstelle"
                          phone_mobile: null
                        - city: "Düsseldorf"
                          label: "Spiellokal 1"
                          street: "Borussia-Düsseldorf-Straße 1 Parken auf P+R Staufenplatz"
                          website: "www.beispiel-verein.de"
                          zipcode: "40629"
                          email_home: "info@beispiel-verein.de"
                          email_work: null
                          phone_home: "0211 / 99179-0"
                          phone_work: null
                          contact_name: "ARAG CenterCourt"
                          phone_mobile: null
                    - club_id: "42"
                      club_name: "SV Werder Bremen"
                      team_name: "SV Werder Bremen"
                      team_contact:
                        city: "Bremen"
                        label: "Mannschaftskontakt"
                        street: "Musterstraße 9"
                        zipcode: "28279"
                        email_home: "e.musterfrau@beispiel.de"
                        email_work: null
                        phone_home: "0421-7654321"
                        phone_work: "0421-9876543"
                        contact_name: "Erika Musterfrau"
                        phone_mobile: "0171-7654321"
                      club_contacts:
                        - city: null
                          label: "Kontaktadresse"
                          street: null
                          website: "http://www.beispiel-verein.de/tischtennis/"
                          zipcode: null
                          email_home: "abteilungsleiter@beispiel.de"
                          email_work: null
                          phone_home: null
                          phone_work: null
                          contact_name: "Peter Beispiel"
                          phone_mobile: "0172-1234567"
                        - city: "Bremen"
                          label: "Spiellokal 1"
                          street: "Hermine-Berthold-Straße 20"
                          website: null
                          zipcode: "28205"
                          email_home: null
                          email_work: null
                          phone_home: null
                          phone_work: null
                          contact_name: "Klaus-Dieter-Fischer-Halle"
                          phone_mobile: null
                  head_infos:
                    season: null
                    play_mode: null
                    league_name: null
                    championship: null
                    gender_age_group: null
                    organization_short: "DTTB"
                  no_meetings: false
                  season_list:
                    - name: "24/25"
                      full_name: "2024/25"
                    - name: "25/26"
                      full_name: "2025/26"
                  group_leader:
                    city: "Fulda"
                    street: "Beispielstraße 12"
                    zipcode: "36037"
                    email_home: "staffelleiter@beispiel.de"
                    email_work: null
                    phone_home: null
                    phone_work: "0661-1234567"
                    contact_name: "Hans Beispiel"
                    phone_mobile: null
                season: "25--26"
                association: "DTTB"
                groupname: "Tischtennis_Bundesliga"
                urlid: "493079"
                error: null

  /click-tt/{association}/{season}/ligen/{league_slug}/gruppe/{groupId}/bilanzuebersichten/{filter}:
    get:
      tags:
        - Ligen & Gruppen
      operationId: getFrontendBalanceSheet
      summary: Gruppen-Bilanzen abrufen
      description: |
        Lädt die Bilanzübersicht (Siege/Niederlagen pro Person) für die gesamte Liga.
        Wird genutzt, um die "Bilanzen"-Reiter auf der Webseite darzustellen.
      security: []
      parameters:
        - $ref: '#/components/parameters/association'
        
        - name: season
          in: path
          required: true
          schema:
            type: string
            example: "25--26"

        - name: league_slug
          in: path
          required: true
          schema:
            type: string
            example: "Tischtennis_Bundesliga"

        - name: groupId
          in: path
          required: true
          schema:
            type: string
            example: "493079"

        - name: filter
          in: path
          required: true
          schema:
            type: string
            enum: [gesamt, vr, rr]
            default: gesamt
          description: "Zeitraum: Vorrunde (vr), Rückrunde (rr) oder Gesamt."

        - name: _data
          in: query
          required: true
          schema:
            type: string
            default: "routes/click-tt+/$association+/$season+/$type+/$groupname.gruppe.$urlid+/bilanzuebersichten.$filter"
            example: "routes/click-tt+/$association+/$season+/$type+/$groupname.gruppe.$urlid+/bilanzuebersichten.$filter"
          description: "Muss exakt dieser String sein (URL-encoded beim Aufruf). Interne Remix Route-ID für Bilanzübersichten."

      responses:
        '200':
          description: Liste der Mannschaften und Spieler mit Bilanzen
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      head_infos:
                        $ref: '#/components/schemas/FrontendHeadInfos'
                      no_meetings:
                        type: boolean
                      season_list:
                        type: array
                        items:
                          $ref: '#/components/schemas/FrontendSeasonListItem'
                      balancesheet:
                        type: array
                        description: Bilanzübersicht aller Teams
                        items:
                          type: object
                          properties:
                            club_id:
                              type: string
                            team_id:
                              type: string
                            team_name:
                              type: string
                            team_total_points_won:
                              type: integer
                            team_double_points_won:
                              type: integer
                              nullable: true
                            team_single_points_won:
                              type: integer
                            team_total_points_lost:
                              type: integer
                            team_double_points_lost:
                              type: integer
                              nullable: true
                            team_single_points_lost:
                              type: integer
                            double_player_statistics:
                              type: array
                              nullable: true
                              description: Doppel-Statistiken (falls vorhanden)
                              items:
                                type: object
                                properties:
                                  points_won:
                                    type: string
                                  id_player_1:
                                    type: string
                                  id_player_2:
                                    type: string
                                  points_lost:
                                    type: string
                                  meeting_count:
                                    type: string
                                  lastname_player_1:
                                    type: string
                                  lastname_player_2:
                                    type: string
                                  firstname_player_1:
                                    type: string
                                  firstname_player_2:
                                    type: string
                            single_player_statistics:
                              type: array
                              description: Einzel-Spielerstatistiken
                              items:
                                type: object
                                properties:
                                  player_id:
                                    type: string
                                  points_won:
                                    type: string
                                  player_rank:
                                    type: string
                                  points_lost:
                                    type: string
                                  team_number:
                                    type: string
                                  meeting_count:
                                    type: string
                                  player_lastname:
                                    type: string
                                  player_firstname:
                                    type: string
                                  single_statistics:
                                    type: array
                                    description: Bilanz gegen verschiedene Positionen
                                    items:
                                      type: object
                                      properties:
                                        points_won:
                                          type: string
                                        points_lost:
                                          type: string
                                        opponent_rank:
                                          type: string
                      meetings_excerpt:
                        type: object
                        description: Aktuelle Begegnungen (wie im Spielplan)
                  season:
                    type: string
                  association:
                    $ref: '#/components/schemas/Association'
                  groupname:
                    type: string
                  season_filter:
                    type: string
                    enum: [firstRound, secondRound]
                  urlid:
                    type: string
                  error:
                    type: string
                    nullable: true
              example:
                data:
                  head_infos:
                    season: "25/26"
                    play_mode: "TTBL Spielsystem inkl. Doppel"
                    league_name: "Tischtennis Bundesliga"
                    championship: "DTTB 25/26"
                    gender_age_group: "Erwachsene"
                    organization_short: "DTTB"
                  no_meetings: false
[...]
